<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271989742726-v4b80nuonnjv5vh7jclme87anrn3gcg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271989742726-v4b80nuonnjv5vh7jclme87anrn3gcg9</string>
	<key>API_KEY</key>
	<string>AIzaSyCcdfewNb0uEb16CqJ2DD3rAn4PTMd4OmA</string>
	<key>GCM_SENDER_ID</key>
	<string>271989742726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.richdadpoordad</string>
	<key>PROJECT_ID</key>
	<string>readersapp-581ae</string>
	<key>STORAGE_BUCKET</key>
	<string>readersapp-581ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271989742726:ios:0231e3a4b340dc70e7c507</string>
</dict>
</plist>